.navbar {
  height: 50px;
  background-color: rgb(191 67 67);
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.logo {
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: rgb(209 69 69);
}